# UNIVERSAL
*~
*.user
*.bak
[Tt]emp/

# DO NOT COMMIT PRIVATE KEYS! This section prevents accidental leaks.
id_rsa
id_dsa
id_ecdsa
id_ed25519
*.key
*.ppk
*.pem

# CMAKE
CMakeUserPresets.json

# VISUAL C++ (Legacy)
*.ncb
*.opt
*.plg
*.vbw
*.aps
*.positions

# VISUAL STUDIO (Modern)
.vs/
*.suo
*.rsuser
*.userosscache
*.sln.docstates
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# VSCODE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

# JETBRAINS
.idea/

# XCODE
xcuserdata/

# SUBLIMETEXT
*.sublime-workspace

# EMACS
.#*

# VIM
Session.vim
Sessionx.vim
.netrwhist
[._]*.un~
[._]*.sw[a-p]

# OS/Platform junk
.DS_Store
Thumbs.db
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out

# STASH DIRECTORIES
[Bb]ak/
[Uu]ntracked/
/[Ss]tash/

# OUTPUT DIRECTORIES (standard)
[Bb]in/
[Ll]ib/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/
[Bb]uild/
[Ii]nstall/
[Gg]enerated
[Rr]elease/
[Dd]ebug/
[Mm]in[Ss]ize[Rr]el/
[Rr]el[Ww]ith[Dd][be][gb][Ii]nfo/

# OUTPUT DIRECTORIES (project specific)
[Rr]un/
[Pp]rofile/
[Ii]nternal/
[Dd]ebug[Ww]3[Dd]/
[Hh]ybrid/
[Ee]nglish/
[Ff]rench/
[Gg]erman/
[Ss]panish/
[Mm]ax4[Rr]elease/
[Mm]ax4[Hh]ybrid/

# TEMPORARY EXCEPTIONS! (project specific)
![Ll]ib/
**/[Ll]ib/**
!**/[Ll]ib/[Tt]rig.h
!**/[Ll]ib/[Bb]ase[Tt]ype.h

![Rr]un/
**/[Rr]un/**
!**/[Rr][un]/BrowserEngine.dll
!**/[Rr][un]/place_steam_build_here.txt

!**/[Tt]oolkit/[Dd]ebug
**/[Tt]oolkit/[Dd]ebug/**
!**/[Tt]oolkit/[Dd]ebug/[Dd]ebug[Pp]rint.cpp
!**/[Tt]oolkit/[Dd]ebug/[Dd]ebug[Pp]rint.h

!**/[Ss]ource/[Dd]ebug
!**/[Ss]ource/[Pp]rofile

**/[Tt]ools/[Cc][Rr][Cc][Dd]iff/out.html

**/[Ee][Aa][Bb]rowser[Dd]ispatch/[Bb]rowser[Dd]ispatch.tl[bhi]
**/[Ee][Aa][Bb]rowser[Dd]ispatch/[Bb]rowser[Dd]ispatch.h
**/[Ee][Aa][Bb]rowser[Dd]ispatch/[Bb]rowser[Dd]ispatch_i.c

**/wwshade/shd[678]*bump*.[vp]sh_code.h
